# SPDX-FileCopyrightText: Nir Soffer <nirsof@gmail.com>
#
# SPDX-License-Identifier: MIT

include README.rst
recursive-include LICENSES *

recursive-exclude * __pycache__
recursive-exclude * *.py[co]
